<%= turbo_frame_tag 'page_content' do %>
  <main>
    <h1>All Partyholics</h1>

    <% @users.each do | hepee | %>
      <div class="card">
        <h2><%= hepee.fullname %></h2>
        <small><%= hepee.birthday %></small>
        <%= link_to "See all his events", user_path(hepee.id) %>
      </div>
    <% end %>

    <br>
    <br>
  </main>
<% end %>