<%= turbo_frame_tag 'page_content' do %>
  <main>
    <h2 class="mb-5 text-muted">ALL USERS</h2>

    <% @users.each do | hepee | %>
      <div class="card m-3 p-2">
        <h2><%= hepee.fullname %></h2>
        <small><%= hepee.birthday %></small>
        <%= link_to "See all his events", user_path(hepee.id) %>
      </div>
    <% end %>

    <br>
    <br>
  </main>
<% end %>