<h1>The partyholic Miss/Mrs./Mr. <% @user.fullname %></h1>
<h4><%= link_to 'Partyholics', users_path %></h4>
<h4><%= link_to 'Events', events_path %></h4>

<h2>Events created</h2>
<% @user.events.each do | event | %>
  <h3><%= event.location %></h3>
  <small><% event.date %></small>
<h4><%= link_to 'See Event', event_path(event.id) %></h4>
<% end %>