<h1>Events</h1>
<% @events.each do | event | %>
  <h3><%  event.location %></h3>
  <h3><%  event.date %></h3>
  <h3><%  event.creator %></h3>
  <%= link_to "Show event", event_path(event.id) %>
<% end %>